.sidenav-container {
  /*height: 100%;*/
  height: 100vh;
}

.sidenav {
  position: absolute;
  top: 64px;
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.menu-toolbar{

}

.menu-list{
  padding-top: 0;
}
.navbar{
}
.icon{
  padding-right: 10px;
}
