.card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2em;
}

.broad-card {
  width: 500px;
  margin-top: 20px;
  /* padding-bottom: 20px; */
  position: absolute;
  left: 0;
}

.recipe-title {
  padding: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  /* margin-top: 20px; */
}
.img {
  width: 600px;
  height: auto;
}
