<div class="flexContainer">
  <app-teaser-recipe class="flexItem1"
    teaserTitle="Recipe of the day"
    [teaserSubtitle]="randomRecipe.name"
    [recipe]="randomRecipe">
  </app-teaser-recipe>
  <app-teaser-recipe
    class="flexItem3"
    teaserTitle="Last added"
    [teaserSubtitle]="latestAddedRecipe.name"
    [recipe]="latestAddedRecipe">
  </app-teaser-recipe>
  <app-recipe-list
    class="flexItem2"
    [recipes]="allRecipes$ | async"
    (onRecipeSelected)="routeToRecipe($event)"
    (searchTerm)="updateRecipeList($event)">
  </app-recipe-list>
</div>
