<mat-card class="card">
  <!-- <h2 mat-line>Recipes</h2> -->
  <h2 mat-card-title>All recipes</h2>
  <mat-toolbar style="background: #ffffff; font-size: 16px; font-family: Roboto,Helvetica Neue,sans-serif;">
    <mat-form-field color="primary" class="trm-search-container">
      <input matInput type="text" (input)="searchTermEntered($event.target.value)">
    </mat-form-field>
    <mat-icon color="primary">search</mat-icon>
  </mat-toolbar>
  <mat-list>
    <!--<a mat-list-item *ngFor="let recipe of recipes$ | async " (click) = "routeToRecipe(recipe.id)">-->
    <a mat-list-item *ngFor="let recipe of recipes " (click) = "selectRecipe(recipe.id)">
      <img mat-list-avatar [src]="recipe?.imageUrl || '' ">
      <h3 mat-line>{{recipe?.name}}</h3>
    </a>
  </mat-list>
</mat-card>
