<mat-sidenav-container class="sidenav-container" (backdropClick)="drawer.close()">
  <mat-sidenav position="start" #drawer class="sidenav" fixedInViewport="true" color="primary">
    <mat-nav-list class="menu-list">
      <mat-toolbar color="primary" class="menu-toolbar" (click)="drawer.close()"><mat-icon class="icon"><span >menu</span></mat-icon><h4>Menu</h4></mat-toolbar>
      <a mat-list-item (click)="drawer.toggle()" routerLink="add"><mat-icon class="icon"><span >playlist_add</span></mat-icon>Add a new recipe</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="home"><mat-icon class="icon"><span >dashboard</span></mat-icon>Recipe Dashboard</a>
       <a *appSecurity="planningFeatureEnabled | async" mat-list-item (click)="drawer.toggle()" routerLink="planning"><mat-icon class="icon"><span >date_range</span></mat-icon>Week Planner</a>
      <a mat-list-item (click)="drawer.toggle()"><mat-icon class="icon"><span >cancel</span></mat-icon>Close menu</a>
    </mat-nav-list>
  </mat-sidenav>
    <mat-sidenav-content #content class="navbar-content">
  <mat-toolbar color="primary" class="navbar">
    <mat-icon class="icon" (click)="drawer.toggle()">
      <span>menu</span>
    </mat-icon>
    <p>{{applicationTitle}}</p>
  </mat-toolbar>
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
